:root {
  --black: #000000; /* Jet Black */
  --white: #FFFFFF; /* Pure White */
  --gold: #FFD700; /* Rich Gold */
  --grey: #333333; /* Charcoal Gray */
  --offwhite: #FAEBD7; /* Antique White */
}


/*--------------App.css-------------------*/

body {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.main-body {
  padding: 5%;
}

.btn {
  background-color: var(--white);
  color: var(--black);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  letter-spacing: 2px;
}

.navbar {
  background-color: var(--black);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-button.open {
  transform: rotate(90deg);
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: var(--black);
}

.nav-links.open {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 0.5em 0.5em;
}

.site-title {
 color: white;
 font-family: 'Dancing Script', cursive;
 font-size: 2em;
 padding: 0;
 margin: 0;
 display: flex;
 align-self: center;
 margin: 0 auto;
}

/* ---- OUR STORY/HOME ----- */
.home {
  padding: 30px;
}

.our-story-img {
  background-image: url(https://via.placeholder.com/1600x900);
  background-size: cover;
}

.our-story-title {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
}

.our-story-p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.our-story-btn {
  text-align: center;
  margin-top: 20px;
}

.RSVPbtn {
  text-align: center;
  align-self: center;
  justify-self: center;
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}

/* --------RSVP Section-------- */

/* ------About Section------ */
.about-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  text-align: center;
}

.about-div h3 {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1.4px;
  font-size: 1.8em;
  text-align: center;
}

.about-div h4 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 1.4em;
  margin: 0;
}

.about-div p {
  font-size: 1.1em;
}

/*---------------Media Queries-------------*/

@media screen and (min-width: 820px) {
  .site-title {
    font-size: 2.5em;
  }

  .our-story-title {
    font-size: 4.5rem;
  }
}

@media screen and (min-width: 1280px) {
  .site-title {
    font-size: 3.5em;
  }

  .our-story-title {
    font-size: 6.5rem;
  }
}

@media screen and (min-width: 1920px) {
  .site-title {
    font-size: 5.5em;
  }

  .our-story-title {
    font-size: 7.5rem;
  }
}

@media screen and (min-width: 2560px) {
  .site-title {
    font-size: 6.5em;
  }

  .our-story-title {
    font-size: 8.5rem;
  }
}