:root {
  --black: #000000; /* Jet Black */
  --white: #FFFFFF; /* Pure White */
  --gold: #FFD700; /* Rich Gold */
  --grey: #333333; /* Charcoal Gray */
  --offwhite: #FAEBD7; /* Antique White */
}


/*--------------App.css-------------------*/

body {
  margin: 0;
  background-color: var(--black);
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

.main-body {
  padding: 0 5%;
}

.btn {
  background-color: var(--black);
  color: var(--white);
  padding: 0.5em 1em;
  border: none;
  border-radius: 0px;
  border: 2px solid var(--white);
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Montserrat", sans-serif;
  font-weight: 350;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar {
  background-color: var(--black);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  transition: transform 0.3s;
}

.menu-button.open {
  transform: rotate(90deg);
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  background-color: rgba(1, 1, 1, 0.75);
  font-weight: 350;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav-links.open {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  padding: 1.5em 1.5em;
}

.site-title {
 color: white;
 font-family: 'Dancing Script', cursive;
 font-size: 2em;
 padding: 0;
 margin: 0;
 display: flex;
 align-self: center;
 margin: 0 auto;
}

/* ---- OUR STORY/HOME ----- */
.home {
  padding: 30px;
}

.our-story-img {
  background-image: url(https://via.placeholder.com/1600x900);
  background-size: cover;
}

.our-story-title {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
}

.our-story-p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.our-story-btn {
  text-align: center;
  margin-top: 20px;
}

.RSVPbtn {
  text-align: center;
  align-self: center;
  justify-self: center;
  background-color: var(--black);
  border: 2px solid var(--white);
  color: var(--white);
}

/* --------RSVP Section-------- */

.RSVP-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.7px;
}

.RSVP-div h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  text-align: center;
  margin: 0.8em 0 0.8em;
}

.invite-code-label {
  font-size: 1.2em;
  margin: 0;
}

.input-field {
  margin: 3px 0px 15px;
  width: 5em;
  padding: 8px;
  border: 2px solid var(--white);
  border-radius: 0px;
  background-color: var(--black);
  color: var(--white);
  letter-spacing: 1.7px;
  text-align: center;
  font-weight: 450;
  font-size: 1.2em;
}

.input-field::placeholder {
  font-weight: 200;
  font-size: 0.7em;
  letter-spacing: 0.8px;
}

.attendance-label {
  font-size: 1.2em;
  margin: 10px 10px 10px;
}

.radio-input {
  margin: 0 1em;
}

/* Style for radio inputs under class "radio-input" */
.radio-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--white);
  border-radius: 0;
  outline: none;
  cursor: pointer;
  position: relative;
  margin-top: 13px;
}

/* Style for checked radio inputs under class "radio-input" */
.radio-input:checked {
  background-color: var(--black);
}

/* Style for the 'X' inside the checked radio inputs under class "radio-input" */
.radio-input:checked::after {
  content: 'X';
  display: block;
  color: var(--white);
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--black);
  padding: 20px;
  border: var(--white) 2px solid;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal-content {
  text-align: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* ------About Section------ */
.about-title {
  font-family: 'Dancing Script', cursive;
  font-size: 4em;
  text-align: center;
}

.about-div h3 {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 1.4px;
  font-size: 1.8em;
  text-align: center;
}

.about-div h4 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-size: 1.4em;
  margin: 0;
}

.about-div p {
  font-size: 1.1em;
}

.about-div span {
  font-weight: 450;
}

/*---------------Media Queries-------------*/

@media screen and (min-width: 820px) {
  .site-title {
    font-size: 2.5em;
  }

  .our-story-title {
    font-size: 5.5em;
  }

  .about-title {
    font-size: 5.5em;
  }

  .about-div h3 {
    font-size: 3em;
  }

  .about-div h4 {
    font-size: 2em;
  }

  .about-div p {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1280px) {
  .site-title {
    font-size: 2em;
  }

  .main-body {
    padding: 0 10%;
  }

  .our-story-title {
    font-size: 5em;
  }

  .about-title {
    font-size: 5em;
  }

  .about-div h3 {
    font-size: 2m;
  }

  .about-div h4 {
    font-size: 1.2em;
  }

  .about-div p {
    font-size: 1em;
  }
}

@media screen and (min-width: 1920px) {
  .site-title {
    font-size: 2.5em;
  }

  .our-story-title {
    font-size: 5em;
  }
}

@media screen and (min-width: 2560px) {
  .site-title {
    font-size: 3em;
  }

  .main-body {
    padding: 0 15%;
  }

  .our-story-title {
    font-size: 5em;
  }
}